df.Rda
Social Status - Analysis.nb.html
.Rhistory
Svallfors_Replication.nb.html
.RData
Social Status, Liberalization and Attitudes toward Redistribution.nb.html
*.png
Table 1.html
Table2.html
.Rproj.user
data/WVS_TimeSeries_1981_2020_ascii_v2_0.csv