df.Rda
socstat.Rda
Social Status - Analysis.nb.html
.Rhistory
Svallfors_Replication.nb.html
.RData
Social Status, Liberalization and Attitudes toward Redistribution.nb.html
*.png
Table 1.html
Table2.html
